table {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid black;
}

table th {
  text-align: left;
}

table .todo-item {
  width: 100%;
  margin: auto;
}

table td, table th {
  border: 1px solid black;
}

table .title {
  width: 150px;
}

table .content {
  width: 800px;
}

table .due {
  width: 200px;
}

table .createdata {
  width: 200px;
}
